/* .shaker{
    position:relative;
     
       z-index: 1;
}
.mover{
    position:absolute;
       right: 0px;
       top:0px;
       z-index: 1000;
} */
.img{
    object-position: center center;
    object-fit: cover;
    overflow:hidden; 
    height:50vh;
}
.carousel-control-prev-icon{
    visibility: hidden;
}
.carousel-control-next-icon{
    visibility: hidden;
}