.img{
    object-position: center center;
    object-fit: cover;
    overflow:hidden; 
    height:40vh;
}
.carousel-control-prev-icon{
    visibility: hidden;
}
.carousel-control-next-icon{
    visibility: hidden;
}
