.navi{
    background-color: #2280D8 !important;
    color: whitesmoke ;
    position: relative;
    
}

.cont{
    color: whitesmoke ;

}
.nav-link{
    color: whitesmoke !important;

}
link{
    color: whitesmoke !important;

}
.spot{
    object-position: center center !important;
    text-align: center !important;
    margin-left: 48vw;
    color: whitesmoke !important;
    font-weight: bolder;
    font-size: 200%;
    

}
.navbar-brand{
    position: absolute;
    color: thistle;

}
.icon{
    color:rgb(127, 212, 149);
    border-radius: 50%;
}