.parent{
    position: relative;
    /* background-color: rgb(226, 43, 150);
    border: transparent;
    height: 50vh;
    width: 100%;
    z-index: 1; */


}

.card{
    bottom: 0px;
    position:absolute;
    background-color: transparent;
    border: transparent;
    z-index: 5;
    display: flex;


}
.difficultyContainer{
    background-color: rgb(255, 230, 5);
    height: 10px;
    width: 20px;
    border-radius: 10%;
    position: relative;
    text-align: center;
    font-size: 75%;
    color: white;
    margin: auto;
}
.difficultyBtn{
    pointer-events: none;
    cursor: not-allowed;
    padding: 0% 7% 1% 7%;
    justify-content: center;
    border-radius: 10%;
    font-size: 75%;
    color: white;
}
.location{
    margin-top: 2% ;
    color: white;
}

.spotTitle{
    font-size: xx-large;
    margin-bottom: .5%;
    font-weight: bold;
    color: white;
}